!default.mode1v3
!default.mode2v3
!default.pbxuser
!default.perspectivev3
*.hmap
*.ipa
*.mode1v3
*.mode2v3
*.moved-aside
*.pbxuser
*.perspectivev3
*.xccheckout
*.xcscmblueprint
*.xcuserstate
.AppleDB
.AppleDesktop
.AppleDouble
.DS_Store
.DocumentRevisions-V100
.LSOverride
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
._*
.apdisk
.build/
.fseventsd
Carthage/Build
DerivedData/
Icon
build/
fastlane/Preview.html
fastlane/report.xml
fastlane/screenshots
fastlane/test_output
playground.xcworkspace
timeline.xctimeline
xcuserdata/
*.framework.zip
